# Variants

In [1]:
from typing import List
import vcf
import pandas as pd
import re
import os

class VariantsReader:
    
    def __init__(self):
        pass

    def read_vcf(self, file: str) -> pd.DataFrame:
        reader = vcf.Reader(open(file, 'r'))
        df = pd.DataFrame([vars(r) for r in reader])
        out = df.merge(pd.DataFrame(df.INFO.tolist()),
                       left_index=True, right_index=True)
        out = out[['CHROM', 'POS', 'REF', 'ALT', 'DP', 'QUAL', 'RO', 'AO', 'INFO']]
        out['TYPE'] = out['INFO'].map(lambda x: x['TYPE'][0])
        out = out.drop('INFO', axis='columns')
        out['ALT'] = out['ALT'].map(lambda x: str(x[0]))
        out['REF'] = out['REF'].map(lambda x: str(x[0]))
        out['AO'] = out['AO'].map(lambda x: x[0])
        cols = out.columns.tolist()
        out['FILE'] = os.path.basename(file)
        out = out.reindex(columns=['FILE'] + cols)
        return out

    def read_vcfs(self, files: List[str]) -> pd.DataFrame:
        frames = [self.read_vcf(f) for f in files]
        return pd.concat(frames)

directory = 'data/snps-vcf'
files = [os.path.join(directory, f) for f in os.listdir('data/snps-vcf')]
files = [f for f in files if f.endswith('.vcf')]

vr = VariantsReader()
df = vr.read_vcfs(files)
df

,FILE,CHROM,POS,REF,ALT,DP,QUAL,RO,AO,TYPE
0,2014C-3857.filt.vcf,JASV01000001.1,16854,T,C,38,1175.580,0,38,snp
1,2014C-3857.filt.vcf,JASV01000001.1,16871,C,C,29,832.403,0,28,del
2,2014C-3857.filt.vcf,JASV01000001.1,16897,G,C,25,735.848,0,25,snp
3,2014C-3857.filt.vcf,JASV01000001.1,17327,T,TA,11,258.368,0,11,ins
4,2014C-3857.filt.vcf,JASV01000001.1,17335,G,G,13,292.065,0,13,del
...,...,...,...,...,...,...,...,...,...,...
125,2014C-3600.filt.vcf,JASV01000007.1,767386,A,G,87,2684.540,0,87,snp
126,2014C-3600.filt.vcf,JASV01000007.1,890046,T,C,96,3115.580,0,96,snp
127,2014C-3600.filt.vcf,JASV01000007.1,958303,T,G,93,3115.200,0,93,snp
128,2014C-3600.filt.vcf,JASV01000007.1,963356,A,G,23,692.768,0,23,snp
129,2014C-3600.filt.vcf,JASV01000007.1,1014501,A,G,148,4451.050,1,145,snp

# DB model

In [2]:
from typing import List, Any

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

from BitVector import BitVector

Base = declarative_base()
Base

from sqlalchemy import Column, Integer, String, Sequence, BigInteger, ForeignKey, Table, LargeBinary
    
association_table = Table('sample_variation_allele', Base.metadata,
    Column('sample_id', Integer, ForeignKey('sample.id')),
    Column('variantion_allele_id', String, ForeignKey('variation_allele.id')),
)

class VariationAllele(Base):
    __tablename__ = 'variation_allele'
    id = Column(String, primary_key=True)
    sequence_name = Column(String, ForeignKey('reference_sequence.id'))
    position = Column(Integer, primary_key=True)
    ref = Column(String(255), primary_key=True)
    alt = Column(String(255), primary_key=True)
    var_type = Column(String(255))
    
    samples = relationship('Sample', secondary=association_table)
    sequence = relationship('ReferenceSequence', back_populates='variants')
    
    def __init__(self, sequence_name: str = None, position: int = -1, ref: str = None, alt: str = None,
                 var_type: str = None):
        self.sequence_name = sequence_name
        self.position = position
        self.ref = ref
        self.alt = alt
        self.var_type = var_type
        
        self.id = self.to_spdi()
    
    def to_spdi(self):
        return f'{self.sequence_name}:{self.position}:{self.ref}:{self.alt}'
    
    def __repr__(self):
        return (f'<VariationAllele(sequence_name={self.sequence_name}'
                f', position={self.position}, ref={self.ref}, alt={self.alt}, var_type={self.var_type})>')

class Reference(Base):
    __tablename__ = 'reference'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    length = Column(Integer)
    sequences = relationship('ReferenceSequence')
    
    def __repr__(self):
        return f'<Reference(id={self.id}, name={self.name}, length={self.length})>'
    
    
class SampleSequence(Base):
    __tablename__ = 'sample_sequence'
    sample_id = Column(Integer, ForeignKey('sample.id'), primary_key=True)
    sequence_id = Column(Integer, ForeignKey('reference_sequence.id'), primary_key=True)
    core_mask = Column(LargeBinary)
    flag = Column(String(255))
    
    sequence = relationship('ReferenceSequence')
    sample = relationship('Sample', back_populates='sample_sequences')
    
    def get_core_mask(self):
        pass
    
    def __repr__(self):
        return f'<SampleSequence(sample_id={self.sample_id}, sequence_id={self.sequence_id}, flag={self.flag})>'
    
    
class ReferenceSequence(Base):
    __tablename__ = 'reference_sequence'
    id = Column(Integer, primary_key=True)
    reference_id = Column(Integer, ForeignKey('reference.id'))
    sequence_name = Column(String(255))
    variants = relationship('VariationAllele', back_populates='sequence')
    
    def __repr__(self):
        return f'<ReferenceSequence(id={self.id}, sequence_name={self.sequence_name}, reference_id={self.reference_id})>'
    
    
class Sample(Base):
    __tablename__ = 'sample'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    
    variants = relationship('VariationAllele', secondary=association_table)
    sample_sequences = relationship('SampleSequence', back_populates='sample')
    
    def __repr__(self):
        return f'<Sample(id={self.id}, name={self.name})>'

# Create some data

In [3]:
from Bio import SeqIO

ref_name = '2011C-3609.fasta'
ref_length = 0
ref_contigs = {}
for record in SeqIO.parse(f"reference/{ref_name}", "fasta"):
    ref_contigs[record.id] = ReferenceSequence(sequence_name=record.id)
    ref_length += len(record.seq)

reference = Reference(name = ref_name, length = ref_length, sequences=list(ref_contigs.values()))
ref_contigs

{'JASV01000001.1': <ReferenceSequence(id=None, sequence_name=JASV01000001.1, reference_id=None)>,
 'JASV01000002.1': <ReferenceSequence(id=None, sequence_name=JASV01000002.1, reference_id=None)>,
 'JASV01000003.1': <ReferenceSequence(id=None, sequence_name=JASV01000003.1, reference_id=None)>,
 'JASV01000004.1': <ReferenceSequence(id=None, sequence_name=JASV01000004.1, reference_id=None)>,
 'JASV01000005.1': <ReferenceSequence(id=None, sequence_name=JASV01000005.1, reference_id=None)>,
 'JASV01000006.1': <ReferenceSequence(id=None, sequence_name=JASV01000006.1, reference_id=None)>,
 'JASV01000007.1': <ReferenceSequence(id=None, sequence_name=JASV01000007.1, reference_id=None)>}

# Insert into database

In [4]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

engine = create_engine('sqlite:///:memory:', echo=True)

Session = sessionmaker(bind=engine)
session = Session()
session

Base.metadata.create_all(engine)

2020-12-27 17:48:26,918 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-27 17:48:26,920 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,925 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-27 17:48:26,926 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,927 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("sample_variation_allele")
2020-12-27 17:48:26,928 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,930 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("sample_variation_allele")
2020-12-27 17:48:26,931 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,933 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("variation_allele")
2020-12-27 17:48:26,935 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,937 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("variation_allele")
2020-12-27 17:48:26,938 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,939 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("reference")
2020-12-27 17:48:26,940 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,941 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("reference")
2020-12-27 17:48:26,942 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,943 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("sample_sequence")
2020-12-27 17:48:26,944 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,945 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("sample_sequence")
2020-12-27 17:48:26,945 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,948 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("reference_sequence")
2020-12-27 17:48:26,949 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,951 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("reference_sequence")
2020-12-27 17:48:26,952 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,954 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("sample")
2020-12-27 17:48:26,955 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,956 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("sample")
2020-12-27 17:48:26,957 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,959 INFO sqlalchemy.engine.base.Engine
CREATE TABLE reference (
	id INTEGER NOT NULL,
	name VARCHAR(255),
	length INTEGER,
	PRIMARY KEY (id)
)


2020-12-27 17:48:26,961 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,962 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-27 17:48:26,963 INFO sqlalchemy.engine.base.Engine
CREATE TABLE sample (
	id INTEGER NOT NULL,
	name VARCHAR(255),
	PRIMARY KEY (id)
)


2020-12-27 17:48:26,963 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,965 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-27 17:48:26,967 INFO sqlalchemy.engine.base.Engine
CREATE TABLE reference_sequence (
	id INTEGER NOT NULL,
	reference_id INTEGER,
	sequence_name VARCHAR(255),
	PRIMARY KEY (id),
	FOREIGN KEY(reference_id) REFERENCES reference (id)
)


2020-12-27 17:48:26,969 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,971 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-27 17:48:26,972 INFO sqlalchemy.engine.base.Engine
CREATE TABLE variation_allele (
	id VARCHAR NOT NULL,
	sequence_name VARCHAR,
	position INTEGER NOT NULL,
	ref VARCHAR(255) NOT NULL,
	alt VARCHAR(255) NOT NULL,
	var_type VARCHAR(255),
	PRIMARY KEY (id, position, ref, alt),
	FOREIGN KEY(sequence_name) REFERENCES reference_sequence (id)
)


2020-12-27 17:48:26,973 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,974 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-27 17:48:26,975 INFO sqlalchemy.engine.base.Engine
CREATE TABLE sample_sequence (
	sample_id INTEGER NOT NULL,
	sequence_id INTEGER NOT NULL,
	core_mask BLOB,
	flag VARCHAR(255),
	PRIMARY KEY (sample_id, sequence_id),
	FOREIGN KEY(sample_id) REFERENCES sample (id),
	FOREIGN KEY(sequence_id) REFERENCES reference_sequence (id)
)


2020-12-27 17:48:26,976 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,978 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-27 17:48:26,978 INFO sqlalchemy.engine.base.Engine
CREATE TABLE sample_variation_allele (
	sample_id INTEGER,
	variantion_allele_id VARCHAR,
	FOREIGN KEY(sample_id) REFERENCES sample (id),
	FOREIGN KEY(variantion_allele_id) REFERENCES variation_allele (id)
)


2020-12-27 17:48:26,979 INFO sqlalchemy.engine.base.Engine ()
2020-12-27 17:48:26,980 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
session.add(reference)
session.commit()

2020-12-27 17:48:27,092 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-27 17:48:27,096 INFO sqlalchemy.engine.base.Engine INSERT INTO reference (name, length) VALUES (?, ?)
2020-12-27 17:48:27,097 INFO sqlalchemy.engine.base.Engine ('2011C-3609.fasta', 5412686)
2020-12-27 17:48:27,103 INFO sqlalchemy.engine.base.Engine INSERT INTO reference_sequence (reference_id, sequence_name) VALUES (?, ?)
2020-12-27 17:48:27,105 INFO sqlalchemy.engine.base.Engine (1, 'JASV01000001.1')
2020-12-27 17:48:27,106 INFO sqlalchemy.engine.base.Engine INSERT INTO reference_sequence (reference_id, sequence_name) VALUES (?, ?)
2020-12-27 17:48:27,108 INFO sqlalchemy.engine.base.Engine (1, 'JASV01000002.1')
2020-12-27 17:48:27,111 INFO sqlalchemy.engine.base.Engine INSERT INTO reference_sequence (reference_id, sequence_name) VALUES (?, ?)
2020-12-27 17:48:27,113 INFO sqlalchemy.engine.base.Engine (1, 'JASV01000003.1')
2020-12-27 17:48:27,116 INFO sqlalchemy.engine.base.Engine INSERT INTO reference_sequence (reference_id, sequence_name) VALUES (?, ?)
2020-12-27 17:48:27,118 INFO sqlalchemy.engine.base.Engine (1, 'JASV01000004.1')
2020-12-27 17:48:27,123 INFO sqlalchemy.engine.base.Engine INSERT INTO reference_sequence (reference_id, sequence_name) VALUES (?, ?)
2020-12-27 17:48:27,125 INFO sqlalchemy.engine.base.Engine (1, 'JASV01000005.1')
2020-12-27 17:48:27,127 INFO sqlalchemy.engine.base.Engine INSERT INTO reference_sequence (reference_id, sequence_name) VALUES (?, ?)
2020-12-27 17:48:27,129 INFO sqlalchemy.engine.base.Engine (1, 'JASV01000006.1')
2020-12-27 17:48:27,136 INFO sqlalchemy.engine.base.Engine INSERT INTO reference_sequence (reference_id, sequence_name) VALUES (?, ?)
2020-12-27 17:48:27,138 INFO sqlalchemy.engine.base.Engine (1, 'JASV01000007.1')
2020-12-27 17:48:27,142 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
ref = session.query(Reference).filter_by(id = 1).first()
ref_contigs = {c.sequence_name: c for c in ref.sequences}
ref_contigs

2020-12-27 17:48:27,316 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-27 17:48:27,320 INFO sqlalchemy.engine.base.Engine SELECT reference.id AS reference_id, reference.name AS reference_name, reference.length AS reference_length
FROM reference
WHERE reference.id = ?
 LIMIT ? OFFSET ?
2020-12-27 17:48:27,326 INFO sqlalchemy.engine.base.Engine (1, 1, 0)
2020-12-27 17:48:27,333 INFO sqlalchemy.engine.base.Engine SELECT reference_sequence.id AS reference_sequence_id, reference_sequence.reference_id AS reference_sequence_reference_id, reference_sequence.sequence_name AS reference_sequence_sequence_name
FROM reference_sequence
WHERE ? = reference_sequence.reference_id
2020-12-27 17:48:27,335 INFO sqlalchemy.engine.base.Engine (1,)

{'JASV01000001.1': <ReferenceSequence(id=1, sequence_name=JASV01000001.1, reference_id=1)>,
 'JASV01000002.1': <ReferenceSequence(id=2, sequence_name=JASV01000002.1, reference_id=1)>,
 'JASV01000003.1': <ReferenceSequence(id=3, sequence_name=JASV01000003.1, reference_id=1)>,
 'JASV01000004.1': <ReferenceSequence(id=4, sequence_name=JASV01000004.1, reference_id=1)>,
 'JASV01000005.1': <ReferenceSequence(id=5, sequence_name=JASV01000005.1, reference_id=1)>,
 'JASV01000006.1': <ReferenceSequence(id=6, sequence_name=JASV01000006.1, reference_id=1)>,
 'JASV01000007.1': <ReferenceSequence(id=7, sequence_name=JASV01000007.1, reference_id=1)>}

In [7]:
import re

df2 = df.copy()
variant_table = {}
file_variants = {}
sample_sequences = {}
for row in df2.iterrows():
    sample_name = re.sub('\.filt\.vcf$', '', row[1]['FILE'])
    
    variant = VariationAllele(sequence_name=row[1]['CHROM'], position=row[1]['POS'],
                             ref=row[1]['REF'], alt=row[1]['ALT'], var_type=row[1]['TYPE'])
    if variant.id not in variant_table:
        variant_table[variant.id] = variant
    else:    
        variant = variant_table[variant.id]
        
    if sample_name not in file_variants:
        file_variants[sample_name] = []
        
    file_variants[sample_name].append(variant)
    
file_variants.keys()

dict_keys(['2014C-3857', '2014C-3655', '2014C-3598', '2014C-3840', '2014C-3599', '2014C-3907', '2014C-3656', '2014C-3850', '2014C-3600'])

In [8]:
for s in file_variants:
    ref_objects = {ref_contigs[v.sequence_name] for v in file_variants[s]}
    sample_sequences = [SampleSequence(sequence=r) for r in ref_objects]
    sample = Sample(name=s, variants=file_variants[s], sample_sequences=sample_sequences)
    session.add(sample)
session.commit()

2020-12-27 17:48:27,776 INFO sqlalchemy.engine.base.Engine INSERT INTO variation_allele (id, sequence_name, position, ref, alt, var_type) VALUES (?, ?, ?, ?, ?, ?)
2020-12-27 17:48:27,777 INFO sqlalchemy.engine.base.Engine (('JASV01000001.1:16854:T:C', 'JASV01000001.1', 16854, 'T', 'C', 'snp'), ('JASV01000001.1:16871:C:C', 'JASV01000001.1', 16871, 'C', 'C', 'del'), ('JASV01000001.1:16897:G:C', 'JASV01000001.1', 16897, 'G', 'C', 'snp'), ('JASV01000001.1:17327:T:TA', 'JASV01000001.1', 17327, 'T', 'TA', 'ins'), ('JASV01000001.1:17335:G:G', 'JASV01000001.1', 17335, 'G', 'G', 'del'), ('JASV01000001.1:17347:C:C', 'JASV01000001.1', 17347, 'C', 'C', 'del'), ('JASV01000001.1:17360:T:A', 'JASV01000001.1', 17360, 'T', 'A', 'snp'), ('JASV01000001.1:17468:T:C', 'JASV01000001.1', 17468, 'T', 'C', 'snp')  ... displaying 10 of 601 total bound parameter sets ...  ('JASV01000007.1:13994:C:A', 'JASV01000007.1', 13994, 'C', 'A', 'snp'), ('JASV01000007.1:963356:A:G', 'JASV01000007.1', 963356, 'A', 'G', 'snp'))
2020-12-27 17:48:27,784 INFO sqlalchemy.engine.base.Engine INSERT INTO sample (name) VALUES (?)
2020-12-27 17:48:27,786 INFO sqlalchemy.engine.base.Engine ('2014C-3857',)
2020-12-27 17:48:27,787 INFO sqlalchemy.engine.base.Engine INSERT INTO sample (name) VALUES (?)
2020-12-27 17:48:27,788 INFO sqlalchemy.engine.base.Engine ('2014C-3655',)
2020-12-27 17:48:27,789 INFO sqlalchemy.engine.base.Engine INSERT INTO sample (name) VALUES (?)
2020-12-27 17:48:27,790 INFO sqlalchemy.engine.base.Engine ('2014C-3598',)
2020-12-27 17:48:27,791 INFO sqlalchemy.engine.base.Engine INSERT INTO sample (name) VALUES (?)
2020-12-27 17:48:27,792 INFO sqlalchemy.engine.base.Engine ('2014C-3840',)
2020-12-27 17:48:27,793 INFO sqlalchemy.engine.base.Engine INSERT INTO sample (name) VALUES (?)
2020-12-27 17:48:27,793 INFO sqlalchemy.engine.base.Engine ('2014C-3599',)
2020-12-27 17:48:27,794 INFO sqlalchemy.engine.base.Engine INSERT INTO sample (name) VALUES (?)
2020-12-27 17:48:27,795 INFO sqlalchemy.engine.base.Engine ('2014C-3907',)
2020-12-27 17:48:27,796 INFO sqlalchemy.engine.base.Engine INSERT INTO sample (name) VALUES (?)
2020-12-27 17:48:27,797 INFO sqlalchemy.engine.base.Engine ('2014C-3656',)
2020-12-27 17:48:27,798 INFO sqlalchemy.engine.base.Engine INSERT INTO sample (name) VALUES (?)
2020-12-27 17:48:27,799 INFO sqlalchemy.engine.base.Engine ('2014C-3850',)
2020-12-27 17:48:27,800 INFO sqlalchemy.engine.base.Engine INSERT INTO sample (name) VALUES (?)
2020-12-27 17:48:27,801 INFO sqlalchemy.engine.base.Engine ('2014C-3600',)
2020-12-27 17:48:27,811 INFO sqlalchemy.engine.base.Engine INSERT INTO sample_variation_allele (sample_id, variantion_allele_id) VALUES (?, ?)
2020-12-27 17:48:27,812 INFO sqlalchemy.engine.base.Engine ((2, 'JASV01000001.1:16854:T:C'), (2, 'JASV01000001.1:16871:C:C'), (2, 'JASV01000001.1:16897:G:C'), (2, 'JASV01000001.1:17347:C:C'), (2, 'JASV01000001.1:17360:T:A'), (2, 'JASV01000001.1:17468:T:C'), (2, 'JASV01000001.1:18280:G:G'), (2, 'JASV01000001.1:18288:C:C')  ... displaying 10 of 1353 total bound parameter sets ...  (3, 'JASV01000007.1:958303:T:G'), (3, 'JASV01000007.1:1014501:A:G'))
2020-12-27 17:48:27,817 INFO sqlalchemy.engine.base.Engine INSERT INTO sample_sequence (sample_id, sequence_id, core_mask, flag) VALUES (?, ?, ?, ?)
2020-12-27 17:48:27,817 INFO sqlalchemy.engine.base.Engine ((1, 1, None, None), (1, 5, None, None), (1, 3, None, None), (1, 6, None, None), (1, 4, None, None), (1, 7, None, None), (2, 1, None, None), (2, 5, None, None)  ... displaying 10 of 55 total bound parameter sets ...  (9, 4, None, None), (9, 7, None, None))
2020-12-27 17:48:27,825 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
v = session.query(VariationAllele).filter_by(position = 16854).all()
v

2020-12-27 17:48:28,350 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-27 17:48:28,355 INFO sqlalchemy.engine.base.Engine SELECT variation_allele.id AS variation_allele_id, variation_allele.sequence_name AS variation_allele_sequence_name, variation_allele.position AS variation_allele_position, variation_allele.ref AS variation_allele_ref, variation_allele.alt AS variation_allele_alt, variation_allele.var_type AS variation_allele_var_type
FROM variation_allele
WHERE variation_allele.position = ?
2020-12-27 17:48:28,356 INFO sqlalchemy.engine.base.Engine (16854,)

In [10]:
v[0].sequence

2020-12-27 17:48:29,129 INFO sqlalchemy.engine.base.Engine SELECT reference_sequence.id AS reference_sequence_id, reference_sequence.reference_id AS reference_sequence_reference_id, reference_sequence.sequence_name AS reference_sequence_sequence_name
FROM reference_sequence
WHERE reference_sequence.id = ?
2020-12-27 17:48:29,132 INFO sqlalchemy.engine.base.Engine ('JASV01000001.1',)

In [11]:
r = session.query(ReferenceSequence).filter_by(sequence_name = 'JASV01000003.1').first()
r

2020-12-27 17:48:32,177 INFO sqlalchemy.engine.base.Engine SELECT reference_sequence.id AS reference_sequence_id, reference_sequence.reference_id AS reference_sequence_reference_id, reference_sequence.sequence_name AS reference_sequence_sequence_name
FROM reference_sequence
WHERE reference_sequence.sequence_name = ?
 LIMIT ? OFFSET ?
2020-12-27 17:48:32,179 INFO sqlalchemy.engine.base.Engine ('JASV01000003.1', 1, 0)

In [12]:
r.variants

2020-12-27 17:48:32,549 INFO sqlalchemy.engine.base.Engine SELECT variation_allele.id AS variation_allele_id, variation_allele.sequence_name AS variation_allele_sequence_name, variation_allele.position AS variation_allele_position, variation_allele.ref AS variation_allele_ref, variation_allele.alt AS variation_allele_alt, variation_allele.var_type AS variation_allele_var_type
FROM variation_allele
WHERE ? = variation_allele.sequence_name
2020-12-27 17:48:32,552 INFO sqlalchemy.engine.base.Engine (3,)

[]

In [13]:
s = session.query(Sample).filter_by(name='2014C-3857').first()
s

2020-12-27 17:48:35,117 INFO sqlalchemy.engine.base.Engine SELECT sample.id AS sample_id, sample.name AS sample_name
FROM sample
WHERE sample.name = ?
 LIMIT ? OFFSET ?
2020-12-27 17:48:35,121 INFO sqlalchemy.engine.base.Engine ('2014C-3857', 1, 0)

In [14]:
s.sample_sequences

2020-12-27 17:48:35,664 INFO sqlalchemy.engine.base.Engine SELECT sample_sequence.sample_id AS sample_sequence_sample_id, sample_sequence.sequence_id AS sample_sequence_sequence_id, sample_sequence.core_mask AS sample_sequence_core_mask, sample_sequence.flag AS sample_sequence_flag
FROM sample_sequence
WHERE ? = sample_sequence.sample_id
2020-12-27 17:48:35,670 INFO sqlalchemy.engine.base.Engine (1,)

[<SampleSequence(sample_id=1, sequence_id=1, flag=None)>,
 <SampleSequence(sample_id=1, sequence_id=3, flag=None)>,
 <SampleSequence(sample_id=1, sequence_id=4, flag=None)>,
 <SampleSequence(sample_id=1, sequence_id=5, flag=None)>,
 <SampleSequence(sample_id=1, sequence_id=6, flag=None)>,
 <SampleSequence(sample_id=1, sequence_id=7, flag=None)>]

In [15]:
s.variants[0].id

2020-12-27 17:48:44,838 INFO sqlalchemy.engine.base.Engine SELECT variation_allele.id AS variation_allele_id, variation_allele.sequence_name AS variation_allele_sequence_name, variation_allele.position AS variation_allele_position, variation_allele.ref AS variation_allele_ref, variation_allele.alt AS variation_allele_alt, variation_allele.var_type AS variation_allele_var_type
FROM variation_allele, sample_variation_allele
WHERE ? = sample_variation_allele.sample_id AND variation_allele.id = sample_variation_allele.variantion_allele_id
2020-12-27 17:48:44,843 INFO sqlalchemy.engine.base.Engine (1,)

'JASV01000001.1:16854:T:C'

In [16]:
v = session.query(VariationAllele).filter_by(id='JASV01000001.1:16854:T:C').first()
v.samples

2020-12-27 17:48:47,272 INFO sqlalchemy.engine.base.Engine SELECT variation_allele.id AS variation_allele_id, variation_allele.sequence_name AS variation_allele_sequence_name, variation_allele.position AS variation_allele_position, variation_allele.ref AS variation_allele_ref, variation_allele.alt AS variation_allele_alt, variation_allele.var_type AS variation_allele_var_type
FROM variation_allele
WHERE variation_allele.id = ?
 LIMIT ? OFFSET ?
2020-12-27 17:48:47,276 INFO sqlalchemy.engine.base.Engine ('JASV01000001.1:16854:T:C', 1, 0)
2020-12-27 17:48:47,281 INFO sqlalchemy.engine.base.Engine SELECT sample.id AS sample_id, sample.name AS sample_name
FROM sample, sample_variation_allele
WHERE ? = sample_variation_allele.variantion_allele_id AND sample.id = sample_variation_allele.sample_id
2020-12-27 17:48:47,284 INFO sqlalchemy.engine.base.Engine ('JASV01000001.1:16854:T:C',)

[<Sample(id=2, name=2014C-3655)>,
 <Sample(id=1, name=2014C-3857)>,
 <Sample(id=6, name=2014C-3907)>,
 <Sample(id=9, name=2014C-3600)>,
 <Sample(id=8, name=2014C-3850)>,
 <Sample(id=7, name=2014C-3656)>,
 <Sample(id=5, name=2014C-3599)>,
 <Sample(id=4, name=2014C-3840)>,
 <Sample(id=3, name=2014C-3598)>]